target/
.mvn
mvnw
mvnw.cmd
.gradle/
notes/
!.mvn/wrapper/maven-wrapper.jar
.classpath
.factorypath
.project
.settings
.idea
*.iml
build/
.DS_Store
*.log
*.gz
src/main/resources/static/
src/main/resources/templates/
node_modules/
*.swp
package-lock.json
